@model CRMDemo.Models.Branch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_BranchesLayout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Chi nhánh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accounts)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Tên nhân viên</th>
                    <th>Số điện thoại</th>
                    <th>Chức vụ</th>
                </tr>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position.PositionName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Trở lại</a>
</div>
